[Unit]
Description=Fetch your documents from Telegram
Wants=remarkabot.timer

[Service]
EnvironmentFile=$HOME/.config/remarkabot/.env
ExecStart=/opt/remarkabot/remarkabot

[Install]
WantedBy=multi-user.target