[Unit]
Description=Fetch your documents from Telegram
After=network-online.target
ConditionPathExists=/opt/remarkabot/remarkabot

[Timer]
Persistent=true
OnBootSec=1min
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target