[Unit]
Description=Fetch your documents from Telegram
Wants=remarkabot.timer

[Service]
EnvironmentFile=/home/root/.config/remarkabot/.env
ExecStart=/opt/remarkabot/run.sh

[Install]
WantedBy=multi-user.target