[Unit]
Description=Fetch your documents from Telegram
After=home.mount
After=network-online.target
ConditionPathExists=/opt/remarkabot/remarkabot

[Timer]
Persistent=true
OnBootSec=10min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target